<h2><%= @stall.title %></h2>
<p><%= @stall.city %>, <%= @stall.state %> - <%= @stall.zipcode %> - Listed</p>
<p>Listed by <%= @user.name %></p>

<form method="POST" action="/stalls/<%=@stall.id%>/rental_request">
  Date To Reserve
  <input id="date name="date" type="date">
  <label for="message">Message to user, <%= @user.name %></label><br>
  <textarea type="text" name="message" id="message"></textarea><br>
  <%= erb :_error, { :locals => { :errors => @stall.errors[:message] } } %>
  <button type="submit">Request to Rent!</button>
</form>
