
<h2><%= @stall.title %></h2>
<p><%= @stall.city %>, <%= @stall.state %> - <%= @stall.zipcode %> - Listed</p>
<p>by <%= @user.name %></p>
<p><%= @stall.description %> </p>

<button>Request to Rent!</button>
